
  <div class="container-fluid  ">
    <div class="row">
      <div class="col-lg-{{colSize}} text-center card-box"  *ngFor="let queue of queues">
      <div class="card">
          <div class="card-title">
       	  <h3>{{queue.queue}}</h3><h4>{{queue.callers}}</h4>
       	  </div>
		  <div class="card-body">
		   	<div class="alert status-{{agent.state}}" role="alert"  *ngFor="let agent of queue.members" >
		   	  <div class="row">
		   	    <div class="col-lg-10">
		   	     <div class="text-justify">
  			       <span class="item-text">{{agent.name}}</span>
  			       <span class="small-text">{{agent.number}}</span>
  			    </div>
  			   </div>
  			
  			  </div>
			</div>
			
		  </div>
		</div>
      </div>
    </div>
  </div>


