
<mat-grid-list cols="4" rowHeight="100vh">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [rowspan]="1">
      
     
	  <app-queue-top [queue] = "tile.text"></app-queue-top>
	  
	  
	  <div class="wrapper">
        <div class="content">
	
	  <table width="100%"> 
	   <tr  *ngFor="let agent of tile.agents" >
	   <td>
	     <app-queue-agent   [agent] = "agent.name" >
	    
	      </app-queue-agent>
	   
	   </td>
	    
	   </tr>
	  </table>  
	</div>
	</div>
  </mat-grid-tile>
</mat-grid-list>


